html{
    margin: 0;
    padding: 0;    
    font-family: sans-serif;
}



body {
    margin: 0;
    padding: 0;    
    padding: 0;    
    background-image: url("/static/bg2.png");
    background-position: left top;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

h2{
  font-size: 15px;
  font-weight: bold;
  min-height: 16px;
  color: red;
}
.laatikko{
  position: absolute;
  right: 0;
  width:500px;
border-color: coral;
}

.tekstilaatikko{
width: 380px;
border-color: coral;
font-family: sans-serif;
text-align: center;
} 

.logokuva{
margin-top: 20px;
border-color: coral;
height: 140px; 
width: 380px;
background-image: url("logo2.png");
background-repeat: no-repeat;
}

.loginbox{
text-align: center;
font-family: sans-serif;
    background-color: #efefef;
    width: 380px;
    height: 500px;
padding: 20px;
border-radius: 20px;
    box-sizing: border-box;
box-shadow: 10px 10px #73dfc9;
}

.h1{
    margin: 0;
    padding 0 0 10px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 10px;
}

.loginbox input[type="text"], input[type="password"]
{
text-align: center;
border: none;
border-bottom: 1px solid #000;
background: transparent;
height: 40px;
}

.loginbox input[type="submit"]
{
    text-align: center;
    border: none;
    outline: none;
    height: 40px;
    width: 80%;
    margin: 10px;
    background: #f3a000;
    color: #fff;
    font-size:18px;
 }

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #73dfb6;
    color: #000;
}

.loginbox a{
font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover{
    color: #73dfb6;
}


.nofamily{
  text-align: center;
  font-family: sans-serif;
      background-color: #efefef;
      width: 500px;
      height: 550px;
  padding: 20px;
  border-radius: 20px;
      box-sizing: border-box;
  box-shadow: 10px 10px #73dfc9;
  margin-right: auto;
  margin-top: 5%;
  margin-left: auto;
  }
  .nofamily input[type="submit"]
  {
      text-align: center;
      border: none;
      outline: none;
      height: 40px;
      width: 200px;
      margin: 10px;
      background: #f3a000;
      color: #fff;
      font-size:18px;
   }
  
  .nofamily input[type="submit"]:hover
  {

      cursor: pointer;
      background: #73dfb6;
      color: #000;
  }
  .nofamily input[type="text"]
  {
    font-size: large;
  text-align: center;
  border: solid #04AA6D;
  background: white;
  height: 40px;
  }

  .nofamily a{
    font-weight: bold;
        text-decoration: none;
        font-size: 16px;
        line-height: 20px;
        color: darkgrey;
    }
    
    .nofamily a:hover{
        color: #73dfb6;
    }


.animal {
  display: block;
  position: absolute;
  width: 25%;
  height: auto;
  bottom: 0;
right: 0;
}



nav {
  background-color: #ddfff5;
    margin: 0;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li:not(:first-child) {
  float: right;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
  color: black;
    display: block;
    line-height: 3em;
    padding: 1em 3em;
    text-decoration: none;
}

nav li a:hover {
  background-color: #04AA6D;
}


.wrapper{

  display: inline-flex;
  height: 50px;
  width: 90%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 10px 7px;

}
.wrapper .option{
  
  background: #fff;
  height: 70%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot{

  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
 
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #04AA6D;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.0);
  transition: all 0.3s ease;
}
input[type="radio"]{
 
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  font-size: 16px;
  border-color: #04AA6D;
  background: #04AA6D;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 16px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{

  color: #fff;
}

bar-container {
  background: #f0f0f0;
  height: 10px;
  width: 100%;
  border-radius: 10px;
}
.bar {
  background: #00F260;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 10px;
  width: 0%;
  border-radius: 10px;
  transition: width 400ms;
}
.add_task{
  text-align: center;
  font-family: sans-serif;
      background-color: #efefef;
      width: 600px;
      height: 150px;
  padding: 5px;
  border-radius: 20px;
      box-sizing: border-box;
  box-shadow: 10px 10px #73dfc9;
  margin-right: auto;
  margin-top: 15px;
  margin-left: auto;
}



.task_table {
  text-align: center;
  font-family: sans-serif;
      background-color: #efefef;
      width: 600px;
      height: 600px;
  padding: 20px;
  border-radius: 20px;
      box-sizing: border-box;
  box-shadow: 10px 10px #73dfc9;
  margin-right: auto;
  margin-top: 25px;
  margin-left: auto;

}



#table-scroll {
  height:350px;
  overflow:auto;  
  margin-top:20px;
}

.task_table table {
	font-family:Arial, Helvetica, sans-serif;
  table-layout:fixed;
  width: 90%;
	font-size:13px;
  font-weight: lighter;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

thead {
    background-color: #04AA6D;
    color: #fff;
}

th { width: 20%; height: 30px;}
th { width: 20%; height: 40px;}


