<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" type="text/css" href="style.css">
<!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        margin: 0;
        padding: 0;    
        padding: 0;    
        background-image: url("/static/404.png");
        background-position: left top;
        background-size: cover;
        background-attachment: fixed;
        min-height: 100%;
    }
    </style>

<body>

    <h2 style="text-align:center; margin-top: 33%;">Voih! Sivua ei löydy, palaa takaisin etusivulle</h2>
    <a href="/"> Takaisin etusivulle </a>

</body>

</html>