{% extends "main.html" %}


{% block content %}

<form action="/home" method="post">
    <p>Tehtävä</p>
		<input type="text" name="task" placeholder="Anna tehtävä">
		
    <select name="doer">  
        {% for member in familymembers %}
        <option value="{{ member.id }}">{{ member[1] }}</option>  

{% endfor %}
   
     </select>  

     <input type="date" name="deadline" placeholder="{{ date }}"
            value="{{ date }}"
            min="2021-01-01" max="2021-12-31">

            <input type="submit" name="" value="Lisää tehtävä!">	
</form>

<table>
  <tr>
    <th>tehtävä</th>
    <th>tekijä</th>
    <th> pvm </th>
  </tr>
 
      {% for task in tasklist %}
      <tr>
      <th> {{ task[0] }} </th>
      <th> {{ task[1] }}</th>
      <th> {{ task[2] }}</th>
  </tr>

{% endfor %}
</table>

{% endblock %}
