{% extends "main.html" %}


{% block content %}

  {% if session.user_role == "aikuinen" %}
  <div class = "add_task">
  <h1>Lisää tehtävä</h1>
    <h2>{{message}}</h2>
    <form action="/home" method="post">
      <input type="text" name="task" placeholder="Anna tehtävä (max.20 merkkiä">
      <select name="doer">
      {% for member in familymembers %}
      {% if member.id == session["user_id"]%}
        {%else%}
        <option value="{{ member.id }}">{{ member[1] }}</option>
        {% endif %}
      {% endfor %}
      </select>
      <input type="date" name="deadline" placeholder="{{ date }}" value="{{ date }}" min="2021-01-01" max="2021-12-31">
      <input type="submit" name="" value="Lisää tehtävä!">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
  </div>
    {% endif %}

  <div class = "task_table">
    <h1>Päivän tehtävät</h1>
    <div id="table-scroll">
      <table cellspacing='0'>
    {%if tasklist%}
        <thead>
      <tr>
        <th>tehtävä</th>
        <th>tekijä</th>
        <th> pvm </th>
        <th> status</th>
        {% if session.user_role == "lapsi" %}
          <th> merkitse tehdyksi </th>
        {% endif %}
      </tr>
    </thead>
      {%else%}
      <h1>EI TEHTÄVIÄ!!</h1>
      {%endif%}
      {% for task in tasklist %}
      <tr>
        <th> {{ task[0] }} </th>
        <th> {{ task[1] }}</th>
        <th> {{ task[2] }}</th>
        <th>{{ task.task_status }}</th>
        {% if session.user_role == "lapsi" %}
          <form action="/home" method="post">
          {%if task.done%}
            <th><button class="update" name="update" value="{{ task.id }}">Eiku!</button></th>
          {%else%}
          <th><button class="update" name="update" value="{{ task.id }}">Tehty!</button></th>
          {%endif%}
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
          </form>
        {% endif %}
      </tr>
      {% endfor %}
      </table>
    </div>

    {%if tasklist%}
    {% if session.user_role == "lapsi" %}
    {%if count_done_tasks/tasklist|length*100==100%}
    <h1>Kaikki päivän tehtävät tehty!</h1>
    {%else%}
    <h1>Tehtävistä tehty</h1>
    {%endif%}
    <progress id="file" value={{count_done_tasks/tasklist|length*100}} max="100"> {{count_done_tasks/tasklist|length*100}}%</progress>
    <h1>{{count_done_tasks/tasklist|length*100}}%</h1>
    {% endif %}
    {%endif%}
  </div>
{% endblock %}
