<doctype! html>
<html>
    <head>
        <title>joojoo</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body {
                margin: 0;
                padding: 0;
                padding: 0;
                background-image: url("/static/bg6.png");
                background-position: left top;
                background-size: cover;
                background-attachment: fixed;
                min-height: 100%;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <li><img src="./static/logo2.png" width="50%" style="vertical-align:middle;margin:10px 10px">
                </li>
                <li><a href="/logout"><i class="fa fa-sign-out"></i> Kirjaudu ulos</a></li>
                <li><a href="/family"><i class="fa fa-users"></i></i> Perhe </a></li>
                <li><a href="/tasklist"><i class="fa fa-calendar-check-o"></i> Tehtävälista </a></li>
                <li><a href="/home"><i class="fa fa-fw fa-home"></i> Koti </a></li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
        <img src="./static/doggo.png" class="animal">
    </body>
</html>