<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}"/>
<!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    body {
        margin: 0;
        padding: 0;    
        padding: 0;    
        background-image: url("/static/bg6.png");
        background-position: left top;
        background-size: cover;
        background-attachment: fixed;
        min-height: 100%;
    }
    </style>
<body>



  
        {% block content %}{% endblock %}



</body>

</html>
