{% extends "index.html" %}

{% block content %}
<div class="loginbox">
	<h2> {{message}} </h2>

	<h1>Luo käyttäjätunnus!</h1>
    <form action="/signup" method="POST">
		<p>Käyttäjätunnus</p>
		<input type="text" name="username" placeholder="Anna käyttäjätunnus (3-15 merkkiä)">
		<p>Nimi</p>
		<input type="text" name="name" placeholder="Anna nimesi (2-30 merkkiä)">
		    
		<p>Salasana</p>
		<input type="password" name="password" placeholder="Anna salasana">
		
		<div class="wrapper">
			<input type="radio" name="role" id="option-1" value ="aikuinen" checked="checked" >
			<input type="radio" name="role" id="option-2" value="lapsi">
			
			<label for="option-1" class="option option-1">
				<div class="dot"></div>
				<span>Vanhempi</span>
			</label>
			
			<label for="option-2" class="option option-2">
				<div class="dot"></div>
				<span>Lapsi</span>
			</label>
		</div>
		<input type="submit" value="Rekisteröidy">
		
		</br>
		<a href="/"> Kirjaudu </a>
	</form>
</div>
{% endblock %}
