{% extends "index.html" %}

{% block body %}
<h3>{{message}}</h3>
<h2>Sign up!</h2>
    <form action="/signup" method="POST">

		<p>Username</p>
		<input type="text" name="username" class="form-control" placeholder="Give new username">
	</br>
		<p>Password</p>
		<input type="password" name="password" class="form-control" placeholder="Give new password">
	</br>
		<input type="submit" value="Sign up">
	</form>
</br>
</br>
  <a href="/login"> Go back to Login </a>

  {% endblock body %}